:root {
    --color-principal: #b51616;
    --color-secundario: #fcf0e8;
    --color-detalles: #dea509;
    --color-detalles-hover: #F5BB0F;
    --color-background: #212121;
    --color-background-card-funcion: #2E2E2E;
    --color-borde-card-funcion: #444;
}

html{
    background-color: var(--color-background);
}
/*===================
       header
===================*/
nav {
    display: flex;
    background-color: var(--color-principal);
    border-radius: 0.4rem;
    margin: 0 auto;
    justify-content: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style-type: none;
}

nav ul li a {
    color: var(--color-secundario);        
    text-decoration: none;
    font-weight: bold;   
}

nav ul li a:hover {
    color: var(--color-detalles);
    text-shadow: 2px 2px 5px black;
    font-size: 18px;
}

nav a.activo {
  pointer-events: none;   
  color: var(--color-detalles);
  text-shadow: 2px 2px 5px black;
}

#contenedor-titulo {
    position: relative;
    display: flex;
    background-color: var(--color-principal);
    border-radius: 0.4rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#contenedor-titulo a {
    position: absolute;
    left: 10px; 
    color: var(--color-secundario);        
    text-decoration: none;
    font-size: 15px;
}
 #contenedor-titulo h1 {
    margin-bottom: 7px;
    margin-top: 7px;
 }

/*===============
    main
================*/
h1 {
    color: var(--color-secundario);
}


#contenedor-cartelera, #contenedor-a-estrenar, #contenedor-productos, #contenedor-combos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--color-secundario);
}

.card-pelicula, .card-producto {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    margin: 2px;
    text-align: center;   
}


hr {
    border: none;
    height: 2px; 
    background: linear-gradient(
        to right,
        var(--color-detalles),
        var(--color-detalles-hover)
    ); 
    margin: 2rem 0; 
    border-radius: 5px; 
}

.card-pelicula a {
    text-decoration: none;
    color: inherit;
}

.pelicula-img{
    width: 200px;
    height: 300px;
}

.producto-img {
    width: 80%;
    height: 80%;
    border-radius: 0.4rem;
}

#poster-pelicula {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 20%;
    height: 20%;
}

#contenedor-funciones {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 60px;
    margin: 10px auto;
}

.card-funcion{
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 8px;
    justify-content: center;
    color: var(--color-secundario);
    background-color: var(--color-background-card-funcion);
    border: 1px solid var(--color-borde-card-funcion);
    border-radius: 0.5rem;
}
.card-funcion p {
    margin: 4px;
}
button {
    background-color: var(--color-detalles);
    border: solid white 2px;
    font-size: 1rem;
    border-radius: 0.4rem;
    margin: 4px auto;
    width: 60%;
    font-weight: bold;
}

button:hover {
    background-color: #F5BB0F;
    transform: scale(1.05);
}

button:active {
    background-color: #B98A07;    
    transform: scale(0.97);
}

.card-funcion input, .card-producto input {
    background-color: #1E1E1E;
    color: #EDEDED;
    border: 1px solid #444;
    border-radius: 0.3rem;
    width: 20%; 
    margin: 4px auto;
}

.fila-input {
    display: flex;
    align-items: center; 
    gap: 0.5rem;         
}

/*==========
   Filtros
==========*/

.select-filtros {
  border: 2px solid #dddddd;
  background: #2a2a2a;
  padding: 10px;
  transition: 0.4s;
  color: #e0e0e0;
}

.select-filtros:hover{
  background: #6ab1ff;
}

.select-filtros:focus {
    outline: none;
    border-color: #4a90e2;
}

.select-filtros option {
    background-color: #2a2a2a;
    color: #e0e0e0;
}

#contenedor-filtros {
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
}

#btn-filtrar{
    width: 100px;
    height: 40px;
}

.agregar-funcion{
    height: 30px;
}